# ===============================
# Visual Studio / MSVC
# ===============================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# ===============================
# Build output
# ===============================
x64/
Debug/
Release/
build/

# ===============================
# MSVC / Compiler artifacts
# ===============================
*.obj
*.ilk
*.pdb
*.log
*.tlog
*.idb

# ===============================
# IntelliSense / Cache
# ===============================
*.ipch
*.db
