# Visual Studio
.vs/
*.suo
*.user
*.db
*.db-shm
*.db-wal
*.ipch

# Build output
x64/
Debug/
Release/
build/

# MSVC artifacts
*.obj
*.ilk
*.pdb
*.log
*.tlog
*.idb


# =========================
# JetBrains / CLion
# =========================
.idea/
**/.idea/
*.iml

# =========================
# CMake
# =========================
cmake-build-*/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake

# =========================
# Ninja
# =========================
.ninja_*
build.ninja
